.card {
  width: 28rem;
  height: 35rem;
  margin-top: 2rem;
  text-align: center;
}

.card img {
  margin: 0 auto;
  display: block;
}

.card h3 {
  font-size: 2rem;
  color: #fefefe;
}

.card p {
  font-size: 1.3rem;
}