.card {
  width: 25rem;
  height: 35rem;
  margin: 2rem 2rem;
}

.card img {
  margin: 0 auto;
  display: block;
}

.card h3 {
  font-size: 2rem;
  color: #fefefe;
  text-align: center;
}

.card p {
  font-size: 1.3rem;
}