.card {
  width: 34rem;
  height: 54rem;
  margin: 3rem 4rem;
  text-align: center;
}

.card img {
  margin: 0 auto;
  display: block;
}

.card h3 {
  font-size: 2rem;
  color: #fefefe;
}

.card p {
  font-size: 1.3rem;
}